{% assign target_metafield_key = 'custom_option.cross_sell_products' %}

{%- unless cross_products == blank -%}
  <div class="cross-product-radios">
    {% for cross_product in cross_products %}
      {% for cross_option in cross_product.options_with_values %}
        <fieldset data-prodify-cross-option-container data-prodify-cross-option-current-idx="{{ variant_index }}">
          <legend>
            {{ cross_product.title }} -
            {{ cross_option.name }}
          </legend>
          {% render 'cross-product-options', product: cross_product, option: cross_option, picker_type: 'radio' %}
        </fieldset>
      {% endfor %}
    {% endfor %}
  </div>
{% else %}
  <div>
    Please add a cross-sell product to the product's metafield:
    <a
      class="text-blue-500 underline hover:text-blue-800"
      href="{{ '/admin/products/' | append: product.id }}"
      target="_blank"
    >
      {{- target_metafield_key -}}
    </a>
  </div>
{%- endunless %}
