{% comment %}
  Renders cross product options for a cross product

  Accepts:
  - cross_product: {Object} cross product object.
  - option: {Object} current cross product_option object.
  - picker_type: 'radio'


  Usage:
  {% render 'cross-product-options',
    cross_product: cross_product,
    option: cross_option,
    picker_type: 'radio'
  %}
{% endcomment %}

{% assign selected_variant_id = product.selected_or_first_available_variant.id %}

{% for rule in ruleset.items.value %}
  {% for variant in rule.main_variants.value %}
    {% if variant.id == selected_variant_id %}
      {% assign available_variants = rule.option_variants.value %}
      {% break %}
    {% endif %}
  {% endfor %}
{% endfor %}

{%- liquid
  assign variants_stock_available_arr = cross_product.variants | map: 'available'
  assign variants_option1_arr = cross_product.variants | map: 'option1'
  assign variants_option2_arr = cross_product.variants | map: 'option2'
  assign variants_option3_arr = cross_product.variants | map: 'option3'
  assign variants_media_arr = cross_product.variants | map: 'featured_image'
-%}

{%- for value in option.values -%}
  {%- liquid
    assign option_not_exist = true
    assign option_out_of_stock = true
    assign option_unavailable = true

    if ruleset == null
      assign option_unavailable = false
    endif

    for option1_name in variants_option1_arr
      case option.position
        when 1
          if variants_option1_arr[forloop.index0] == value
            assign option_not_exist = false

            if variants_stock_available_arr[forloop.index0]
              assign option_out_of_stock = false
            endif
          endif

          unless available_variants.empty?
            for available_variant in available_variants
              if available_variant.options contains value
                assign option_unavailable = false
                break
              endif
            endfor
          endunless
        when 2
          if option1_name == cross_product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == value
            assign option_not_exist = false

            if variants_stock_available_arr[forloop.index0]
              assign option_out_of_stock = false
            endif
          endif

          unless available_variants.empty?
            for available_variant in available_variants
              if available_variant.options contains value
                assign option_unavailable = false
                break
              endif
            endfor
          endunless
        when 3
          if option1_name == cross_product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == cross_product.selected_or_first_available_variant.option2 and variants_option3_arr[forloop.index0] == value
            assign option_not_exist = false

            if variants_stock_available_arr[forloop.index0]
              assign option_out_of_stock = false
            endif
          endif

          unless available_variants.empty?
            for available_variant in available_variants
              if available_variant.options contains value
                assign option_unavailable = false
                break
              endif
            endfor
          endunless
      endcase
    endfor
  -%}

  <input
    type="radio"
    id="{{ section.id }}__cross-option--{{ cross_product.id }}-{{ option.position | minus: 1 }}-{{ forloop.index0 }}"
    name="cp-{{ cross_product.id}}-{{ option.name }}"
    value="{{ value | escape }}"
    data-prodify-cross-product-radio
    data-prodify-cross-product-radio-position="{{ option.position | minus: 1 }}"
    data-prodify-cross-product-id="{{ cross_product.id }}"
    {% if option.selected_value == value %}
      checked
    {% endif %}
    {% if option_not_exist or option_unavailable %}
      disabled
      class="disabled hidden [&:checked+label]:bg-indigo-900 [&:checked+label]:text-white"
    {% elsif option_out_of_stock %}
      class="out-of-stock hidden [&:checked+label]:bg-indigo-900 [&:checked+label]:text-white"
    {% else %}
      class="hidden [&:checked+label]:bg-indigo-900 [&:checked+label]:text-white"
    {% endif %}
  >
  <label
    for="{{ section.id }}__cross-option--{{ cross_product.id }}-{{ option.position | minus: 1 }}-{{ forloop.index0 }}"
    @keyup.enter="$el.click()"
    class="bg-slate-100 text-black !inline-flex items-center gap-2"
  >
    {% if variants_media_arr[forloop.index0] %}
      <img
        class="h-4 w-auto svg-active"
        src="{{ variants_media_arr[forloop.index0] | image_url }}"
        alt="{{ option.values[forloop.index0] | escape }} option image"
        width="16"
        height="16"
        loading="eager"
      >
    {% endif %}
    {{ value -}}
    {% comment %} <span class="visually-hidden sr-only">{{ 'products.product.variant_sold_out_or_unavailable' | t }}</span> {% endcomment %}
  </label>
{%- endfor -%}
