{% comment %}
  Renders cross product option picker for a cross product

  Accepts:
  - cross_products: [{Object}] cross product array of object.

  Usage:
  {% render 'cross-product-picker',
    cross_products: cross_products,
  %}
{% endcomment %}

{% assign target_metafield_key = 'custom_option.cross_sell_products' %}

{%- unless cross_products == blank -%}
  {% for cross_product in cross_products %}
    <div class="cross-product-options w-full border-b my-2">
      <script
        type="application/json"
        data-prodify-cross-product-json
        data-prodify-cross-product-id="{{ cross_product.id }}"
      >
        {{ cross_product | json }}
      </script>

      {% for cross_option in cross_product.options_with_values %}
        <fieldset>
          <legend>
            {{ cross_product.title }} -
            {{ cross_option.name }}
          </legend>
          {%
            render 'cross-product-options',
            cross_product: cross_product,
            option: cross_option,
            picker_type: 'radio',
          %}
        </fieldset>
      {% endfor %}
    </div>
  {% endfor %}
{% else %}
  <div>
    Please add a cross-sell product to the product's metafield:
    <a
      class="text-blue-500 underline hover:text-blue-800"
      href="{{ '/admin/products/' | append: product.id }}"
      target="_blank"
    >
      {{- target_metafield_key -}}
    </a>
  </div>
{%- endunless %}
