{% comment %}
  Renders cross product options for a cross product

  Accepts:
  - product: {Object} cross product object.
  - option: {Object} current cross product_option object.
  - picker_type: 'radio'

  Usage:
  {% render 'cross-product-options',
    product: cross_product,
    option: cross_option,
    picker_type: 'radio'
  %}
{% endcomment %}

{%- for value in option.values -%}
  <input
    type="radio"
    id="{{ section.id }}-cross-option-{{product.tags.first}}-{{ option.position }}-{{ forloop.index0 }}"
    name="{{ option.name }}"
    value="{{ value | escape }}"
    data-prodify-cross-product-radio
    data-prodify-cross-product-title="{{ product.title }}"
    {% if option.selected_value == value %}
      checked
    {% endif %}
    {% if option_disabled %}
      class="disabled hidden [&:checked+label]:bg-indigo-900 [&:checked+label]:text-white"
    {% else %}
      class="hidden [&:checked+label]:bg-indigo-900 [&:checked+label]:text-white"
    {% endif %}
  >
  <label
    for="{{ section.id }}-cross-option-{{product.tags.first}}-{{ option.position }}-{{ forloop.index0 }}"
    @keyup.enter="$el.click()"
    class="bg-slate-100 text-black"
  >
    {{ value -}}
    <span class="visually-hidden sr-only">{{ 'products.product.variant_sold_out_or_unavailable' | t }}</span>
  </label>
{%- endfor -%}
