  {% for block in section.blocks %}
    <li
      class="header-nav{%- if block.type == 'user' -%}-r{% endif %} hover:cursor-pointer"
      @click="($el.querySelector('button') || $el.querySelector('a[href]')?.click())"
    >
      {% case block.type %}
        {% when 'search' %}
          {% if settings.enable_predictive_search %}
            <a href="{{ routes.search_url }}" class="block md:hidden [&>svg]:h-[28px]">
              {% render 'icon-search' %}
            </a>
            <button
              aria-label="search"
              type="button"
              class="[&>svg]:h-[28px] hidden md:block"
              @click="$store.global.isPredictiveSearchVisible = true"
              :aria-expanded="$store.global.isPredictiveSearchVisible ? 'true' : 'false'"
            >
              {% render 'icon-search' %}
            </button>
          {% else %}
            <a href="{{ routes.search_url }}" class="[&>svg]:h-[28px]">
              {% render 'icon-search' %}
            </a>
          {% endif %}
        {% when 'cart' %}
          {%- if block.settings.select_cart_type == 'cart' -%}
            <a
              href="{{ routes.cart_url }}"
              class="[&>svg]:h-[28px] [&>svg]:w-auto relative"
            >
              {% render 'icon-cart' %}
              {% if cart.item_count > 0 %}
                <span
                  data-ajax-cart-bind="item_count"
                  class="absolute top-[60%] left-1/2 -translate-x-1/2 -translate-y-1/2 text-[12px] text-background"
                >
                  {{- cart.item_count -}}
                </span>
              {% endif %}
            </a>
          {%- else %}
            <button
              type="button"
              class="[&>svg]:h-[28px] [&>svg]:w-auto block relative"
              x-data
              @click="$store.global.isMinicartVisible = true"
              aria-label="{{ block.type }} toggle"
              :aria-expanded="$store.global.isMinicartVisible ? 'true' : 'false'"
            >
              {% render 'icon-cart' %}
              {% if cart.item_count > 0 %}
                <span
                  data-ajax-cart-bind="item_count"
                  class="absolute top-[60%] left-1/2 -translate-x-1/2 -translate-y-1/2 text-[12px] text-background"
                >
                  {{- cart.item_count -}}
                </span>
              {% endif %}
            </button>
          {%- endif -%}

        {% when 'promo-bar' %}

        {% when 'currency' %}
          <div class="px-4 py-6 hidden md:block">
            <a href="#" class="-m-2 flex items-center p-2">
              {% if section.settings.currency.enable_flag %}
                {% render 'flag' %}
              {% endif %}
              <span class="block text-base font-medium">nl</span>
              <span class="sr-only">, change currency</span>
            </a>
          </div>
        {% when 'user' %}
          {% if customer %}
            <a href="{{ routes.account_url }}" class="[&>svg]:h-[28px]">
              {% render 'icon-user' %}
            </a>
          {% else %}
            <div class="hidden lg:flex lg:items-center gap-4">
              <a href="{{ routes.account_login_url }}" class="text-sm font-medium header-nav">Sign in</a>
              <span class="h-6 w-px header-nav-r" aria-hidden="true">|</span>
              <a href="{{ routes.account_register_url | escape }}" class="text-sm font-medium header-nav"
                >Create account</a
              >
            </div>
          {% endif %}
        {% else %}
          <div>please add the corresponding snippet: {{ block.type | escape }}</div>
      {% endcase %}
    </li>
  {% endfor %}
