<ul class="flex items-center self-center gap-4 xl:gap-6">
  {% for block in section.blocks %}
    <li
      class="header-nav{%- if block.type == 'signin' -%}-r{% endif %}"
      @click="($el.querySelector('button') || $el.querySelector('a[href]')?.click())"
    >
      {% case block.type %}
        {% when 'search' %}
          {% if settings.enable_predictive_search %}
            <a href="{{ routes.search_url }}" class="block md:hidden [&>svg]:h-[28px]">
              {% render 'icon-search' %}
            </a>
            <button
              aria-label="search"
              type="button"
              class="[&>svg]:h-[28px] hidden md:block"
              @click="$store.global.isPredictiveSearchVisible = true"
              :aria-expanded="$store.global.isPredictiveSearchVisible ? 'true' : 'false'"
            >
              {% render 'icon-search' %}
            </button>
          {% else %}
            <a href="{{ routes.search_url }}" class="[&>svg]:h-[28px]">
              {% render 'icon-search' %}
            </a>
          {% endif %}
        {% when 'cart' %}
          {%- if block.settings.select_cart_type == 'cart' -%}
            <a
              href="{{ routes.cart_url }}"
              class="[&>svg]:h-[28px] [&>svg]:w-auto relative"
            >
              {% render 'icon-cart' %}
              {% if cart.item_count > 0 %}
                <span
                  data-ajax-cart-bind="item_count"
                  class="absolute top-[60%] left-1/2 -translate-x-1/2 -translate-y-1/2 text-[12px] text-background"
                >
                  {{- cart.item_count -}}
                </span>
              {% endif %}
            </a>
          {%- else %}
            <button
              type="button"
              class="[&>svg]:h-[28px] [&>svg]:w-auto block relative"
              x-data
              @click="$store.global.isMinicartVisible = true"
              aria-label="{{ block.type }} toggle"
              :aria-expanded="$store.global.isMinicartVisible ? 'true' : 'false'"
            >
              {% render 'icon-cart' %}
              {% if cart.item_count > 0 %}
                <span
                  data-ajax-cart-bind="item_count"
                  class="absolute top-[60%] left-1/2 -translate-x-1/2 -translate-y-1/2 text-[12px] text-background"
                >
                  {{- cart.item_count -}}
                </span>
              {% endif %}
            </button>
          {%- endif -%}

        {% when 'promo-bar' %}

        {% when 'user' %}
          {% if customer %}
            <a href="{{ routes.account_url }}" class="[&>svg]:h-[28px]">
              {% render 'icon-user' %}
            </a>
          {% else %}
            <div class="hidden lg:flex lg:items-center gap-4">
              <div>
                <a href="{{ routes.account_login_url }}" class="text-sm font-medium accent-color">Sign in</a>
              </div>
              <div>
                <span class="h-6 w-px header-nav-r" aria-hidden="true">|</span>
              </div>
              <div>
                <a href="{{ routes.account_register_url | escape }}" class="text-sm font-medium accent-color"
                  >Create account</a
                >
              </div>
            </div>
          {% endif %}
        {% else %}
          <div>please add the corresponding snippet: {{ block.type | escape }}</div>
      {% endcase %}
    </li>
  {% endfor %}
</ul>
