<section
  aria-labelledby="related-heading"
  class="mt-10 border-t border-gray-200 px-4 mx-auto max-w-2xl sm:px-6 py-8 sm:py-32 lg:py-12 lg:max-w-7xl lg:px-8"
>
  <h2 id="related-heading" class="text-xl font-bold text-gray-900">Customers also bought</h2>

  <div class="mt-8 grid grid-cols-1 gap-y-12 sm:grid-cols-2 sm:gap-x-6 lg:grid-cols-4 xl:gap-x-8">
    <div>
      <div class="relative">
        <div class="relative h-72 w-full overflow-hidden rounded-lg">
          {% comment %}
            <img
              src="https://tailwindui.com/img/ecommerce-images/product-page-03-related-product-01.jpg"
              alt="Front of zip tote bag with white canvas, black canvas straps and handle, and black zipper pulls."
              class="h-full w-full object-cover object-center"
            >
          {% endcomment %}
          {% if product.images.size > 0 %}
            {% assign image = product.images.last %}
            <img
              class="h-full w-full object-cover object-center"
              src="{{ image | image_url }}"
              alt="{{ image.alt }}"
              srcset="{{ image | image_url: width: 1000 }} 800w, {{ image | image_url: width: 1000 }} 1000w, {{ image | image_url: width: 1426 }} 1426w"
              sizes="(min-width: 830px) 55vw, 100vw"
              height="{{ image.height }}"
              width="{{ image.width }}"
              class="hidden lg:block rounded-lg"
              loading="eager"
            >
          {% endif %}
        </div>
        <div class="relative mt-4">
          <h3 class="text-sm font-medium text-gray-900">Other product title</h3>
          <p class="mt-1 text-sm text-gray-500">White and black</p>
        </div>
        <div class="absolute inset-x-0 top-0 flex h-72 items-end justify-end overflow-hidden rounded-lg p-4">
          <div
            aria-hidden="true"
            class="absolute inset-x-0 bottom-0 h-36 bg-gradient-to-t from-black opacity-50"
          ></div>
          <p class="relative text-lg font-semibold text-white">$140</p>
        </div>
      </div>
      <div class="mt-6">
        <a
          href="#"
          class="relative flex items-center justify-center rounded-md border border-transparent bg-gray-100 px-8 py-2 text-sm font-medium text-gray-900 hover:bg-gray-200"
          >Add to bag<span class="sr-only">, Zip Tote Basket</span></a
        >
      </div>
    </div>

    <!-- More products... -->
  </div>
</section>
